body {
  font-family: Arial, sans-serif;
  background-color: #e0f2f1; /* Fondo suave tipo verde agua */
  display:block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.admin-login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.admin-login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}
